<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949074036020-ll94jprkq7tdgm4gp25omh7ejro134so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949074036020-ll94jprkq7tdgm4gp25omh7ejro134so</string>
	<key>API_KEY</key>
	<string>AIzaSyDqYyd6UNH2S_to7FY1WUTk9vyQc0p8Tu8</string>
	<key>GCM_SENDER_ID</key>
	<string>949074036020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yosuke.GarbageCalendar</string>
	<key>PROJECT_ID</key>
	<string>garbagecalendar-1923d</string>
	<key>STORAGE_BUCKET</key>
	<string>garbagecalendar-1923d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949074036020:ios:56cf288529d665d62e5161</string>
</dict>
</plist>